.text-container {
  margin: 20px;
  padding: 20px;
  width: 700px;
  display: flex;
  justify-content: center;
}
.App {
  display: flex;
  justify-items: center;
  justify-content: center;
  flex-direction: column;
}
button {
  width: 200px;
  border: 1px salmon;
  border-radius: 20px;
  padding: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  justify-items: center;
}
.input {
  width: 400px;
  height: 40px;
  border-radius: 8px;
  padding: 5px;
}
.bar {
  height: 800px;
  width: 500px;
}
